.app-header{
  align-items: flex-end;
}

.app-header h2{
  font-size: 1.3rem;
  color: #aaaaaa;
}
.app-header h1{
  color: #eeeeee;
}

@media (max-width: 768px){
  .app-header{
    flex-direction: column;
    align-items: flex-start;
  }
}